<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zfg.learn.dao.AnimationMapper">
    <resultMap id="Animation" type="com.zfg.learn.pojo.Animation">
        <id property="media_id" column="media_id"></id>
        <result property="season_id" column="season_id"></result>
        <result property="share_url" column="share_url"></result>
        <result property="title" column="title"></result>
        <result property="cover" column="cover"></result>
        <result property="is_finish" column="is_finish"></result>
        <result property="longReviewPersistenceMark" column="longReviewPersistenceMark"></result>
        <result property="shortReviewPersistenceMark" column="shortReviewPersistenceMark"></result>
        <association property="rating" javaType="com.zfg.learn.pojo.Rating">
            <id property="media_id" column="media_id"></id>
            <result property="score" column="score"></result>
            <result property="count" column="count"></result>
        </association>
    </resultMap>

    <select id="selectAllAnimation" resultMap="Animation">
        select animation.*, rating.*
        from animation, rating
        where animation.media_id = rating.media_id
    </select>

    <select id="selectAnimationByMedia_id" parameterType="Integer" resultMap="Animation">
        select animation.*, rating.*
        from animation, rating
        where animation.media_id = rating.media_id
        <if test=" media_id != null">
            and animation.media_id = #{media_id}
        </if>
    </select>

    <select id="selectLongReviewPersistenceMarkByMedia_id" parameterType="Integer" resultType="Integer">
        select longReviewPersistenceMark from animation
        where media_id = #{media_id}
    </select>
    <select id="selectShortReviewPersistenceMarkByMedia_id" parameterType="Integer" resultType="Integer">
        select shortReviewPersistenceMark from animation
        where media_id = #{media_id}
    </select>

    <update id="updateLongReviewPersistenceMarkByMedia_id" parameterType="Integer">
        update animation
        set longReviewPersistenceMark = #{persistenceMark}
        where media_id = #{media_id}
    </update>

    <update id="updateShortReviewPersistenceMarkByMedia_id" parameterType="Integer">
        update animation
        set shortReviewPersistenceMark = #{persistenceMark}
        where media_id = #{media_id}
    </update>

    <insert id="insertAnimation" parameterType="com.zfg.learn.pojo.Animation">
        insert into animation
        (media_id, season_id, share_url, title, cover, is_finish, longReviewPersistenceMark, shortReviewPersistenceMark)
        values (#{media_id}, #{season_id}, #{share_url}, #{title}, #{cover}, #{is_finish}, 0, 0)
    </insert>
</mapper>


