<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfg.learn.dao.ShortReviewMapper">
    <resultMap id="ShortReview" type="com.zfg.learn.pojo.ShortReview">
        <id property="review_id" column="review_id"></id>
        <result property="content" column="content"></result>
        <result property="ctime" column="ctime"></result>
        <result property="media_id" column="media_id"></result>
        <result property="mid" column="mid"></result>
        <result property="mtime" column="mtime"></result>
        <result property="progress" column="progress"></result>
        <result property="score" column="score"></result>
        <association property="author" javaType="com.zfg.learn.pojo.User">
            <id property="mid" column="mid"></id>
            <result property="avatar" column="avatar"></result>
            <result property="uname" column="uname"></result>
        </association>
        <association property="stat" javaType="com.zfg.learn.pojo.Stat">
            <result property="likes" column="likes"></result>
            <result property="reply" column="reply"></result>
        </association>
    </resultMap>

    <select id="findShortReviewByMediaId" parameterType="Integer" resultMap="ShortReview">
        select *from shortreview, user, stat
        where user.mid = shortreview.mid
        and stat.review_id = shortreview.review_id
    </select>
    <select id="selectShortReviewByReview_id" parameterType="Integer" resultMap="ShortReview">
        select *from shortreview, user, stat
        where user.mid = shortreview.mid
        and stat.review_id = shortreview.review_id
        and shortreview.review_id = #{review_id}
    </select>
    <select id="selectAllReview_id" resultType="Integer">
        select review_id from shortreview
    </select>
    <select id="selectLatestReviewByMedia_id" parameterType="Integer" resultType="com.zfg.learn.pojo.ShortReview">
        select  *from shortreview
        where media_id = #{media_id}
        order by mtime DESC limit 1
    </select>

    <insert id="insertShortReview" parameterType="com.zfg.learn.pojo.ShortReview">
        insert into shortreview
        (content, ctime, media_id, mid, mtime, progress, review_id, score)
        values (#{content}, #{ctime}, #{media_id}, #{mid}, #{mtime}, #{progress}, #{review_id}, #{score})
    </insert>

    <update id="updateContentByReview_id" parameterType="com.zfg.learn.pojo.ShortReview">
        update shortreview
        set content = #{content}, mtime = #{mtime}
        where review_id = #{review_id}
    </update>

    <delete id="deleteShortReviewByReview_id" parameterType="Integer">
        delete from shortreview where review_id = ${review_id}
    </delete>
</mapper>
