<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfg.learn.dao.SubscriptionMapper">
    <!--取代pagehelper自带的性能低下的查询语句-->
    <select id="selectMediaFollows_COUNT" resultType="Long">
        select count(*)from subscription
        where status = 1
        <if test="uid != null">
            and uid = #{uid}
        </if>
    </select>
    <select id="selectUpFollows_COUNT" resultType="Long">
        select count(*)from subscription
        where status = 1
        <if test="uid != null">
            and uid = #{uid}
        </if>
    </select>


    <select id="selectFollowerByFid" resultType="Long">
        select u.qq
        from subscription s, user u
        where s.uid = u.uid
        and s.fid = #{fid}
    </select>

    <select id="selectByMultiple" parameterType="com.zfg.learn.model.query.SubscriptionQuery" resultType="com.zfg.learn.model.po.Subscription">
        select *from subscription
        where 1 = 1
        <if test="uid != null">
            and uid = #{uid}
        </if>
        <if test="fid != null">
            and fid = #{fid}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="level != null">
            and level = #{level}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>

    <select id="selectRelation" resultType="com.zfg.learn.model.po.Subscription">
        select *from
        subscription
        where fid = #{fid}
        and uid = #{uid}
        and type = #{type}
    </select>

    <select id="selectMediaFollows" resultType="com.zfg.learn.model.dto.SubscriptionDto">
        select s.type, s.status, s.fid,
        a.title as name, a.cover as cover
        from subscription s left join animation a
        on s.fid = a.media_id
        where status = 1
        and type = 0
        <if test="uid != null">
            and uid = #{uid}
        </if>
    </select>

    <select id="selectUpFollows" resultType="com.zfg.learn.model.dto.SubscriptionDto">
        select s.type, s.status, s.fid,
        b.uname as name, b.avatar as cover
        from subscription s left join bili_user b
        on s.fid = b.mid
        where status = 1
        and type = 1
        <if test="uid != null">
            and uid = #{uid}
        </if>
    </select>

    <select id="selectSubNum" resultType="Integer">
        select count(id)
        from subscription
        where status = 1
        and uid = #{uid}
    </select>

    <insert id="insert" parameterType="com.zfg.learn.model.po.Subscription">
       insert into subscription
       (uid, fid, type, mtime, ctime)
       values (#{uid}, #{fid}, #{type} ,#{mtime}, #{ctime})
    </insert>

    <update id="updateStatus" parameterType="com.zfg.learn.model.po.Subscription">
        update subscription
        set status = #{status},
        mtime = #{mtime}
        where fid = #{fid}
        and uid = #{uid}
        and type = #{type}
    </update>
</mapper>